body {
    margin-bottom: 40px;
}

#mainMenu {
    margin-bottom: 40px;
}

#mainMenu .active .nav-link {
    cursor: default;
}

.pippo {
    color: blue;
    font-size: 20px;
}

.box {
    border: 1px solid red;
    padding: 20px;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

#emptyContent {}

#loadingBar {
    display: none
}

#usersTable {
    display: none
}

.inputFocus {
    color: green;
    background-color: lightgrey;
    border: 1px solid
}